
  <ons-page class="RingVozWhitePage" ng-controller="InterTopUpController">

    <ons-toolbar>
       <div id="tb" class="center" >
       <img id="topPet" class="topPet" align="left" src="images/mascota.png" alt="" ng-click="promoSequence()" />
       <div id="praux" class="badge"></div>
	   <img id="topOrangeBarImg" class="topOrangeBarImg" align="center" src="images/logo_ringvoz_blanco{{lg.get('lbl_lgTag')}}.png" alt="" />
       <div id="topbal" class="topbal" align="rigth"><img class="balimg" ng-src="{{rechargeDetails.accountBalanceLed()}}" alt=""/>
            <label class="titlab" ng-model="rechargeDetails.accountBalance" ng-bind="rechargeDetails.accountBalance()" ng-model-options="{ getterSetter: true }" id="accBalance"></label></div>
	   </div>
	</ons-toolbar>
<br>
	<!--<div class="center" style="text-transform:normal;">  
	   <center>
	   <br>
        <div class="TopBlueBarTitle">
		 <img align="left" style="width:12%;padding-left:5px;padding-top:8px;"  src="images/icono_blanco_direct_dial.png" alt=""/>
		 <label style="right:50%">{{lg.get("home_opt5")}}</label>
		 <img align="right" style="width:5%;padding-right:10px;padding-top:18px;" ng-click="cancelRecharge()" src="images/x_blanca.png" alt=""/>
	   </div>
		</center>
	
	</div>-->


<div style="text-align: center" ng-controller="InterTopUpController">

 <ons-row>
 
	
     <ons-col align="center">
     
     	<p class="directDialTitle">
     	{{lg.get("lbl_directDial_sub")}}
     	</p>
         
         <p class="directDialSubTitle">
     	{{lg.get("lbl_directDialAddNumberSubTitle")}}
     	</p>         
		
       <div class="DirectDialMainDiv">
           
                	<p style="line-height:15px;padding-left:5px;font-weight:bold;">
        <input ng-model="directDialInfo.internationalNumber" ng-model-options="{ getterSetter: true }" placeholder="International Number" class="text-input" style="color:#444;border-color:#0082fe;width:99%">
      	</p>
           
                	<p style="line-height:15px;padding-left:5px;font-weight:bold;">
        <input ng-model="directDialInfo.description" ng-model-options="{ getterSetter: true }" placeholder="Description (Alias)" class="text-input" style="color:#444;border-color:#0082fe;width:99%">
      	</p>
       
                  <p>
    
		  <ons-button class="button-orange-new" style="width:41%;font-size:20px" modifier="normal" onclick="myNavigator.popPage()">
            {{lg.get("btn_back")}}
          </ons-button>
           <ons-button class="button-green-new" style="width:54%;font-size:20px" modifier="normal" ng-click="addUpdateDirectDial()">
        {{lg.get("btn_addContactNbr")}}
      </ons-button>      
   
          </p>
           
           
       </div>
  
        </ons-col>
      </ons-row>  
	  

	  
</div>

<p>
       <ons-button class="button-green-new" style="width:95%;font-size:24px" modifier="normal"  onclick="myNavigator.popPage()">{{lg.get("lbl_directDialMyNumbers")}}</ons-button>
      </p>

 
  </ons-page>
