    <ons-dialog var="dialog" ng-controller="InterTopUpController" cancelable class="dialog" style="width:90%">
    	<p>
			<span style="font-family: 'Ek Mukta', sans-serif;"><label style="font-family: 'Ek Mukta', sans-serif;float:left;color:#545454;font-weight:bold">mensaje espan</label><img src="images/x.png"  ng-click="cancelInst()" style="padding-top:5px;width:7%;float:right"></span>
		</p>
        <p>
            <ons-button modifier="normal" class="button-orange-new-pn" style="text-transform:normal;width:48%;text-align:center" ng-click="cancelInst()">Cancelar</ons-button>
			<ons-button modifier="normal" class="button-green-new-pn" style="text-transform:normal;width:48%;text-align:center" ng-click="doSoftCall()">Continuar</ons-button>
        </p>
	</ons-dialog>
