 <ons-page class="RingVozWhitePage" ng-controller="InterTopUpController">
<ons-toolbar>
       <div id="tb" class="center" >
       <img id="topPet" class="topPet" align="left" src="images/mascota.png" alt="" ng-click="promoSequence()" />
       <div id="praux" class="badge"></div>
	   <img id="topOrangeBarImg" class="topOrangeBarImg" align="center" src="images/logo_ringvoz_blanco{{lg.get('lbl_lgTag')}}.png" alt="" />
       <div id="topbal" class="topbal" align="rigth"><img class="balimg" ng-src="{{rechargeDetails.accountBalanceLed()}}" alt=""/>
            <label class="titlab" ng-model="rechargeDetails.accountBalance" ng-bind="rechargeDetails.accountBalance()" ng-model-options="{ getterSetter: true }" id="accBalance"></label></div>
	   </div>
	</ons-toolbar>
 <br>
	   <!--<div class="center" style="text-transform:normal;">  
	   <center>
	   <br>
 	   <div id="topBlueBarId" class="TopBlueBarTitle">
		 <img id="topBlueBarLeftIcon" align="left" src="images/icono_blanco_recarga_top-up.png" alt=""/>
		 <label id="topBlueBarLbl">{{lg.get("lbl_paymentMethods")}}</label>
		 <img id="topBlueBarRightIcon" align="right" ng-click="cancelRecharge()" src="images/x_blanca.png" alt=""/>
	   </div>
	   
	   
	   
	  
		</center>
	
	    </div>-->
		
	
	<div class="paymentOptsImg">
	<center>
		<img src="images/creditCardIcon{{lg.get('lbl_lgTag')}}.png" alt="" ng-click="rechargeWithCreditCard()">
		<img src="images/tripplePayIcon.png" alt="" ng-click="tripplePayRecharge()" >
		<!--<img src="images/disabled_ringVozCard{{lg.get('lbl_lgTag')}}.png" alt="">
		<img src="images/disabled_googleWallet.png" alt="">
		<img src="images/disabled_applePay.png" alt="">
        <img src="images/disabled_paypal.png" alt="">-->
	</center>		
	</div>
	
	<center>
		<p>
			<ons-button class="button-orange-new" style="width:95%" modifier="normal" onclick="document.location = 'top_up_options.html'">
			  {{lg.get("btn_back")}}
			</ons-button>
		</p>
	</center>
	

  </ons-page>

  
