  <ons-dialog var="dialog" cancelable ng-controller="InterTopUpController" style="top:50%;width=100%">
     <div class="TopBlueBarTitleTransacDetails" style="margin-top:-20px">
      <p style="line-height:60px"><span><label style="padding-left:30px">{{lg.get("lbl_selectNumbers")}}</label><img src="images/x_white_transparent.png" alt="" ng-controller="InterTopUpController" ng-click="closeDlg()" style="padding-right:10px;padding-top:20px;width:7%;float:right"></span></p>
	  <span></span>
	  </div>
      <ons-list id="prevNumList">
          <ons-list-item ng-repeat="number in rechargeDetails.prevNumbers()" ng-click="updateNbrfield(number)"><center>{{ number }}</center></ons-list-item>
      </ons-list>
  </ons-dialog>
