 <ons-dialog var="dialog" cancelable ng-controller="rv_auth" style="width:90%">
	<ons-list-item style="border-color:transparent">
		<span><label style="float:left;color:#565656;font-weight:bold">click ok when got sms</label><img src="images/x.png" alt="" ng-controller="rv_auth" ng-click="closeDlg()" style="padding-top:10px;width:7%;float:right"></span>
	</ons-list-item>
 
 
      <p>
        <center><ons-button class="button-green-new" ng-click="inputSMScode()" style="text-align:center;width:60%" modifier="normal">OK</ons-button></center>
      </p>
 </ons-dialog>
  
  